{% extends 'base.html' %}
{% block title %}Contact Us {% endblock %}
{% block body %}
<!-- <h1 class="text-center"> Contact us </h1> -->

    <section class="vh-80" style="background-color: #eee;">

<div class="container mt-5">
    <h1 class="text-center mt-5">About US</h1>
    <div class="row">
        <div class="col-md-1 mt-5"> </div>

        <div class="col-md-8 mt-5">  
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem id placeat reprehenderit deleniti
                ducimus commodi
                nesciunt, fugit qui accusamus cumque cum beatae? Temporibus voluptates cupiditate autem aut. Totam
                deserunt error
                voluptates nemo numquam, cupiditate ipsa vitae eos voluptate assumenda autem placeat iste vero tempore
                quae optio
                possimus nulla dicta facilis explicabo. Nobis, tenetur dolorum? Odit quas necessitatibus numquam ratione
                possimus.
                Delectus, aperiam harum quidem ab adipisci assumenda velit ducimus itaque! Assumenda quas impedit fuga.
                Vitae nam
                error quos placeat inventore facilis fugit soluta. Consequuntur odio ullam perferendis, veniam
                dignissimos quos iste
                dicta. Corporis, molestiae vero. Incidunt possimus eaque soluta libero temporibus nostrum dignissimos
                omnis tempora
                laboriosam consequuntur doloremque optio quas id neque, ratione, hic aliquid praesentium iste facere?
                Eos, laborum!
            </p>
        </div>
        <div class="col-md-3 mt-5"> <img src="static/images/12.jpg" class="img-fluid" alt="Sample image"></div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
     <div class="col-md-4 mt-5 p-5"> <img src="static/images/12.jpg" class="img-fluid" alt="Sample image"></div>

    <div class="col-md-8 mt-5"> <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem id placeat reprehenderit deleniti ducimus commodi
        nesciunt, fugit qui accusamus cumque cum beatae? Temporibus voluptates cupiditate autem aut. Totam deserunt error
        voluptates nemo numquam, cupiditate ipsa vitae eos voluptate assumenda autem placeat iste vero tempore quae optio
        possimus nulla dicta facilis explicabo. Nobis, tenetur dolorum? Odit quas necessitatibus numquam ratione possimus.
        Delectus, aperiam harum quidem ab adipisci assumenda velit ducimus itaque! Assumenda quas impedit fuga. Vitae nam
        error quos placeat inventore facilis fugit soluta. Consequuntur odio ullam perferendis, veniam dignissimos quos iste
        dicta. Corporis, molestiae vero. Incidunt possimus eaque soluta libero temporibus nostrum dignissimos omnis tempora
        laboriosam consequuntur doloremque optio quas id neque, ratione, hic aliquid praesentium iste facere? Eos, laborum!
    </p>
  </div>
    </div>
</div>


{% endblock body %}