{% extends 'base.html' %}

{% block title %} Adoption Request Form {% endblock %}

{% block content %}

{% endblock content %}

{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
        <form method="post" action="{% url 'submit_adoption_request' animal.id %}" class="form"
            style="margin-left: auto; margin-right: auto;">
            {% csrf_token %}
            <div class="container p-4 ">
                <h3 class="pb-4 "><u>Adoption Form</u></h3>
                <div class="m-1">
                    <label for="breeds">Breeds: </label>
                    <input type="text" name="breeds" id="breeds" value="{{animal.breeds}}" class="form-control p-1 rounded w-25"
                        readonly>
                </div>
                <div class="m-1">
                    <label for="breeds">Colour: </label>
                    <input type="text" name="colour" id="colour" value="{{animal.color}}" class=" form-control p-1 rounded w-25"
                        readonly>
                </div>
                <div class="m-1">
                    <label for="breeds">Sex: </label>
                    <input type="text" name="sex" id="sex" value="{{animal.sex}}" class=" form-control p-1 rounded w-25"
                        readonly>
                </div>
                <div class="m-1">
                    <label for="medical_condition">Medical Condition: </label>
                    <input type="text" name="medical_condition" id="medical_condition" value="{{animal.medical_condition}}"
                        class=" form-control p-1 rounded w-25" readonly>
                </div>
                <div class="m-1">
                    <label for="location">Location: </label>
                    <input type="text" name="location" id="location" value="{{animal.location}}"
                        class=" form-control p-1 rounded w-25" readonly>
                </div>
                <div class="m-1">
                    <label for="desc">Description: </label>
                    <p class=" form-control p-1 rounded w-25"  type="text" name="desc" id="desc">{{animal.desc}}</p>
                </div>
                <div class="m-1">
                    <label for="desc">Your Username: </label>
                    <p class=" form-control p-1 rounded w-25"  type="text" name="desc" id="desc">{{user.username}}</p>
                </div>

                <div class="m-1">
                    <label for="desc">Your Email: </label>
                    <p type="text" name="desc" id="desc">{{user.email}}</p>
                </div>
                <div class="m-1">
                    <label for="location">Enter your contact number: </label>
                    <input type="number" name="contact" id="contact" class=" form-control p-1 rounded w-25" required>
                </div>
                <div class="m-1">
                    <label for="location">Enter your address: </label>
                    <input type="text" name="address" id="address" class=" form-control p-1 rounded w-25" required>
                </div>
                <div class="m-1">
                    <label for="description">Write some description: </label>
                    <input name="description" id="description" class="form-control p-1 rounded w-25" required>
                </div>
                <input type="submit" value="Adopt" class=" btn btn-secondary mt-4">
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>

</div>



{% endblock body %}