{% extends 'base.html' %}
{% block title %}Dog {% endblock %}
{% block body %}
<div class="container">
<h1 class="text-center">Details of Dog</h1>
 <div>  
    <img src="static/images/slide1.jpg" class="img-fluid" />
 </div>
 <h3 class=" text-dark mt-5" style="padding-left: 1px;" >About Dog </h3>
 <p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis delectus 
    exercitationem esse saepe eius omnis, dicta, labore cupiditate vitae reiciendis, 
    eum sequi est aspernatur? Architecto reiciendis et laudantium voluptates nesciunt 
    corrupti, nam quas excepturi tempora maxime quidem aliquam? Veritatis officiis numquam
     fuga sunt libero. Rem ex ut aperiam incidunt aliquam minus iure minima saepe mollitia 
     voluptates explicabo ad, natus ipsa doloremque vel dolore laboriosam maiores similique.
      Placeat consequatur, explicabo porro totam dolorum consectetur amet atque sit rerum a 
      tempora eaque, maxime quaerat id? Assumenda, distinctio, quam dolor quibusdam qui totam,
       fugit porro a minus maiores sit modi illum sunt consequuntur laudantium mollitia accusantium
        dignissimos! Vero porro, repudiandae placeat ea asperiores nihil beatae expedita 
    voluptatem nesciunt a, ad veniam fugit natus perspiciatis, maiores architecto.</p>
</div> 
<h2 class="text-center text-danger mt-5">Feeding tips </h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mt-5 p-5"> <img src="static/images/12.jpg" class="img-fluid" alt="Sample image"></div>

        <div class="col-md-8 mt-5">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem id placeat reprehenderit deleniti
                ducimus commodi
                nesciunt, fugit qui accusamus cumque cum beatae? Temporibus voluptates cupiditate autem aut. Totam
                deserunt error
                voluptates nemo numquam, cupiditate ipsa vitae eos voluptate assumenda autem placeat iste vero tempore
                quae optio
                possimus nulla dicta facilis explicabo. Nobis, tenetur dolorum? Odit quas necessitatibus numquam ratione
                possimus.
                Delectus, aperiam harum quidem ab adipisci assumenda velit ducimus itaque! Assumenda quas impedit fuga.
                Vitae nam
                error quos placeat inventore facilis fugit soluta. Consequuntur odio ullam perferendis, veniam
                dignissimos quos iste
                dicta. Corporis, molestiae vero. Incidunt possimus eaque soluta libero temporibus nostrum dignissimos
                omnis tempora
                laboriosam consequuntur doloremque optio quas id neque, ratione, hic aliquid praesentium iste facere?
                Eos, laborum!
            </p>
        </div>
    </div>
</div>

<h3 style="padding-left: 15%;" class="mt-5">Caring Tips </h3>
<div class="container mt-4">
    <div class="row">

        <div class="col-md-8 mt-2">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem id placeat reprehenderit deleniti
                ducimus commodi
                nesciunt, fugit qui accusamus cumque cum beatae? Temporibus voluptates cupiditate autem aut. Totam
                deserunt error
                voluptates nemo numquam, cupiditate ipsa vitae eos voluptate assumenda autem placeat iste vero tempore
                quae optio
                possimus nulla dicta facilis explicabo. Nobis, tenetur dolorum? Odit quas necessitatibus numquam ratione
                possimus.
                Delectus, aperiam harum quidem ab adipisci assumenda velit ducimus itaque! Assumenda quas impedit fuga.
                Vitae nam
                error quos placeat inventore facilis fugit soluta. Consequuntur odio ullam perferendis, veniam
                dignissimos quos iste
                dicta. Corporis, molestiae vero. Incidunt possimus eaque soluta libero temporibus nostrum dignissimos
                omnis tempora
                laboriosam consequuntur doloremque optio quas id neque, ratione, hic aliquid praesentium iste facere?
                Eos, laborum!
            </p>
        </div>
                <div class="col-md-4 mt-5 p-5"> <img src="static/images/12.jpg" class="img-fluid" alt="Sample image"></div>

    </div>
</div>
{% endblock body%}